html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
    background-color: rgb(228, 225, 225);
    background-image: url(/img/sp_main_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin:5px;
    padding:5px;
    align-items: center;
    &__background{
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2
    
}
footer{
    height: 20px;
    text-align: center;
}
@include MQ(M){
    .row{

        height: 800px;
    }

}

@include MQ(S){
    .row{

        height: 800px;
    }
}