.card{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__image--shape{
        height: 200px;
        background: #63a163;
        z-index: 0;
        position: relative;
        display: flex;
        background-image: url(/img/sp_main_bg.png);
        background-size: cover;
        background-position: center;

       
    }
 

    &__overlay{
        width: 100%;
        z-index: 1;
    }

    &__personimage{
       
        width: 180px;
        height: 180px;
        position: relative;
        bottom: -30px;
        left: 20px;
    }
    &__tage{
        display: hidden;
    }

    &__title{
       color: white;
       flex: 1;
       text-align: center;
    }
    &__body{
        flex:1;
        h3{
            font-size: 24px;
        }
        p{
            color: rgb(51, 45, 45);
        }
    }

    @include MQ(M){
        &__image--shape{
            flex-direction: column;
            height:500px;
        }
        &__personimage{
       
            width: 180px;
            height: 180px;
            position: relative;
            bottom: -30px;
            left: 50%;
            margin-left: -80px;
        }
        &__tage{
            display: hidden;
        }
    
        &__title{
            text-align: center;
            position: relative;
            bottom: -30px;
            top: 60%;
            left: 0%;
            margin-left: -100px;
        }
        
    }
    @include MQ(S){
        &__image--shape{
            flex-direction: column;
            height:500px;
        }
        &__personimage{
       
            width: 180px;
            height: 180px;
            position: relative;
            bottom: -30px;
            
        }
        &__tage{
            display: hidden;
        }
    
        &__title{
            text-align: center;
            position: relative;
            bottom: -30px;
            top: 60%;
            
        }
    }
}