.card{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__image--shape{
        height: 200px;
        background: #63a163;
        z-index: 0;
        position: relative;
        display: flex;
        background-image: url(/img/sp_main_bg.png);
        background-size: cover;
        background-position: center;

       
    }
 

    &__overlay{
        width: 100%;
        z-index: 1;
    }

    &__personimage{
       
        width: 180px;
        height: 180px;
        position: relative;
        bottom: -30px;
        left: 20px;
    }
    &__tage{
        display: hidden;
    }

    &__title{
       color: white;
       
       text-align: center;
       &--big{
        font-size: 40px;
       }
    }

  
    

    &__body{
        background-color: whitesmoke;
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: row;
        h3{
            font-size: 24px;
        }
        p{
            color: rgb(51, 45, 45);
        }
    }
    &__aboutme{
        
        width: 50%;
        
    }
    &__information{
        width: 50%;
        flex: 1;
    }

    .infor_list{
        list-style: none;
    }
    .infor_list li{
        
        text-align: left;
    }
    .infor_list .title{
        display: inline-block;
        width: 50px;
        margin-right: 30px;
        
    }
    .infor_list .value{
        display: inline-block;
        color: rgb(53, 47, 47);
    }


    @include MQ(M){
        &__image--shape{
            flex-direction: column;
            height:500px;
        }
        &__personimage{
       
            width: 180px;
            height: 180px;
            position: relative;
            bottom: -30px;
            left: 50%;
            margin-left: -80px;
        }
        &__tage{
            display: hidden;
        }
    
        &__title{
            text-align: center;
            position: relative;
            bottom: -30px;
            top: 60%;
            left: 0%;
            margin-left: -100px;
            &--big{
                font-size: 40px;
               }
        }
        &__body{
            flex-direction: column;

        }

        &__aboutme{
        
            width: 100%;
            
        }
        &__information{
            width: 100%;
            flex: 1;
        }

        .infor_list{
            padding: 0;
        }
        
    }
    @include MQ(S){
        &__image--shape{
            flex-direction: column;
            height:500px;
        }
        &__personimage{
       
            width: 180px;
            height: 180px;
            position: relative;
            bottom: -30px;
            
        }
        &__tage{
            display: hidden;
        }
    
        &__title{
            text-align: center;
            position: relative;
            bottom: -30px;
            top: 60%;
            &--big{
                font-size: 40px;
               }
            
        }

        &__body{
            flex-direction: column;

        }

        &__aboutme{
        
            width: 100%;
            
        }
        &__information{
            width: 100%;
            flex: 1;
        }
        .infor_list{
            padding: 0;
        }
    }
}
li:hover{
   color: gray;
}