.navigation{
    width: 100%;
  
  
    &__toggle{
        display: none;
    }
    &__mobile{
        
        margin-bottom: 50px;
        height: 30px;
        width: 100%;
    }
    &__mobilecontainer{
     width: 100%;
     float: left;
     color: rgb(51, 48, 48);
     font-size: 25px;
    }
    &__logo{
     float: left;
     margin-top: 20px;
    }
    &__mobilemenu{
     float: right;
    }
    &__navi{
        list-style: none;
    }
    &__navi li{
        display: inline-block;
        margin-left: 20px;

    }



   
    

    @include MQ(L){
       

    }


    @include MQ(M){
        
       
        &__mobilemenu{
            display: none;
        }
        &__mobile{
            background-color: #63a163;
            margin-bottom: 50px;
            height: 30px;
            width: 100%;
        }
        &__mobilecontainer{
         width: 100%;
         float: left;
         color: white;
         font-size: 25px;
        }
        &__logo{
         float: left;
         margin-top: 5px;
        }
        &__toggle{
         float: right;
         margin-right: 50px;
         display: inline-block;
        }  
        
    }


    @include MQ(S){

        &__mobilemenu{
            display: none;
        }
        &__mobile{
            background-color: #63a163;
            margin-bottom: 50px;
            height: 30px;
            width: 100%;
        }
        &__mobilecontainer{
         width: 100%;
         float: left;
         color: white;
         font-size: 25px;
        }
        &__logo{
         float: left;
        }
        &__toggle{
         float: right;
        }
    
    }

}